@charset "utf-8";

#botaoZoom{
	width:40px;
	height:40px;
	background:url(images/maisBtn01.png) 0 0 no-repeat;
	border:none;
}

#botaoZoom:active{
	width:40px;
	height:40px;
	background:url(images/maisBtn02.png) 0 0 no-repeat;	
}

#botaoMenos{
	width:40px;
	height:40px;
	background:url(images/menosBtn01.png) 0 0 no-repeat;
	border:none;
}

#botaoMenos:active{
	width:40px;
	height:40px;
	background:url(images/menosBtn02.png) 0 0 no-repeat;	
}

#botaoLimpar{
	width:40px;
	height:40px;
	background:url(images/limparBtn01.png) 0 0 no-repeat;
	border:none;
}

#botaoLimpar:active{
	width:40px;
	height:40px;
	background:url(images/limparBtn02.png) 0 0 no-repeat;	
}

#botaoTracar{
	width:40px;
	height:40px;
	margin-left:10px;
	background:url(images/botaoCinza.png) 0 0 no-repeat;
	border:none;
}

#botaoTracar:active{
	width:40px;
	height:40px;
	background:url(images/botaoVermelho.png) 0 0 no-repeat;	
}

.resultado{
	width:40px;
	height:40px;
	alignment-baseline:30px;
	margin-left:10px;
	background:url(images/igual01.png) 0 0 no-repeat;
	border:none;
}

.resultado:active{
	width:40px;
	height:40px;
	background:url(images/igual02.png) 0 0 no-repeat;	
}

.generico{
	font-size:24px;
	font-weight: bold;
	text-align:center;
	color:#002C46;
	width:40px;
	height:40px;
	alignment-baseline:30px;
	margin-left:10px;
	background:url(images/generico1.png) 0 0 no-repeat;
	border:none;
}

.generico:active{
	width:40px;
	height:40px;
	background:url(images/generico2.png) 0 0 no-repeat;	
}
